/*
xx-small (9px)
x-small (10px)
small (13px)
medium (16px)
large (18px)
x-large (24px)
xx-large (32px)
*/

html {
  font-family: sans-serif;
  background-color: whitesmoke;
}

body {
  margin: 0rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button,
ul,
div.menu > span,
img.cart-s,
div.left > img,
div.left > div.photo-row * {
  cursor: pointer;
}

div.right > div.item,
div.description,
div.price {
  cursor: default;
}

/*HEADER*/
header {
  width: 70vw;
}

div.navbar * {
  align-self: center;
}

header > div.navbar {
  padding: 15px 0;
  border-bottom: 2px rgba(128, 128, 128, 0.1) solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.navbar > div.menu {
  padding: 0px 5px;
  display: flex;
}

div.navbar > div.menu > span {
  font-size: x-large;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgb(132, 132, 132);
}

div.navbar > div.menu > ul.list-sites {
  color: rgb(121, 124, 129);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.navbar > div.menu > ul.list-sites * {
  list-style: none;
  padding: 0 10px;
  font-size: 13px;
}

div.navbar > div.cart {
  display: flex;
}

div.navbar > div.cart > img.shopcart {
  padding: 0 32px;
  width: 18px;
  height: 18px;
  transform: scaleX(-1);
}

div.navbar > div.cart > img.user {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/* MAIN */
/* Left Shoes */
main > div.contain {
  padding: 46px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
}

main > div.contain > div.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* gallery */
div.contain > div.left > img.p-v-photo {
  width: 330px;
  height: 330px;
  border-radius: 20px;
}

div.contain > div.left > div.photo-row:active {
  border: solid palevioletred 1px;
  margin: -25px -10px;
}

div.contain > div.left > div.photo-row > img.p-row {
  height: 65px;
  width: 65px;
  margin: 25px 10px;
  border-radius: 12px;
}

div.left > div.photo-row > img.p-select:active {
  filter: opacity(40%);
  border: solid rgb(255, 68, 0) 2px;
}

/* right Description */
main > div.contain > div.right {
  /*background-color: rgba(194, 230, 136, 0.4);
  border: solid 1px greenyellow;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3rem; /* 36px */
  /*align-self: center;*/
}

div.item > p,
div.item > span {
  font-weight: bold;
}

div.contain > div.right > div.item > p {
  color: rgba(255, 125, 27, 255);
  font-size: 12px;
}

div.contain > div.right > div.item > span {
  font-size: xx-large;
}

div.description > span {
  font-size: small;
  text-align: justify;
}

span.span-gray {
  color: rgb(121, 124, 129);
}

div.contain > div.right > div.price {
  display: flex;
  flex-direction: column;
}

div.right > div.price > div.price-item {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  /*border: solid palevioletred 1px;*/
}

div.price > div.price-item > span.p-item {
  font-weight: bold;
  font-size: 21px;
}

div.price > div.price-item > span.p-discount {
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  padding: 5px 7px;
  border-radius: 3px;
  background-color: rgb(252, 238, 227);
  color: rgba(255, 125, 27, 255);
}

div.price > span.s-g {
  color: rgba(121, 124, 129, 0.6);
  text-decoration: line-through;
  font-weight: bold;
  font-size: 15px;
}

div.contain > div.right > div.buyIt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.addCart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.buyIt > div.acount * {
  background-color: rgba(235, 236, 242, 0.6);
  font-size: 20px;
}

div.buyIt > div.acount {
  background-color: rgba(235, 236, 242, 0.6);
  height: 48px;
  border-radius: 10px;
  display: flex;
}

div.buyIt > div.acount > input.s-btn {
  text-align: center;
  border: transparent;
  width: 48px;
  font-size: 20px;
}

div.buyIt > div.acount > button.s-btn {
  width: 48px;
  color: rgba(255, 125, 27, 255); /*orange*/
  font-weight: bold;
  border: transparent;
  border-radius: 10px;
}

div.addCart > button.btn {
  color: white;
  box-shadow: -3px 39px 99px -7px rgba(255, 125, 27, 0.69);
  -webkit-box-shadow: -3px 39px 99px -7px rgba(255, 125, 27, 0.69);
  -moz-box-shadow: -3px 39px 99px -7px rgba(255, 125, 27, 0.69);
  background-color: rgba(255, 125, 27, 255);
  border: transparent;
  border-radius: 6px;
  height: 48px;
  width: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.addCart > button.btn > img.shopcart {
  padding: 0 12px;
  width: 18px;
  height: 18px;
  transform: scaleX(-1);
  filter: invert(1);
}
